@page "/your-schedule"
@inject AppState appState;
@using Blazorise.Extensions;

@if (errorMessage != null)
{
    <div class="bg-[#661D15] text-red-500 text-2xl w-[1000px] h-[100px] flex items-center justify-center ml-8 mt-8">
        <p>@errorMessage</p>
    </div>
}
<div class="flex p-8 justify-start items-center">
    <p class="text-xl">Month</p>
    <select id="type-of-agreement" class="ml-4 rounded-lg text-black" @bind="month">
        @for (int i = 1; i <= 12; i++)
        {
            <option value="@i">@i</option>
        }
    </select>
</div>

<div class="flex p-8 justify-start items-center">
    <p class="text-xl">Year</p>
    <select id="type-of-agreement" class="ml-4 rounded-lg text-black" @bind="year">
        @for (int i = 2020; i <= 2050; i++)
        {
            <option value="@i">@i</option>
        }
    </select>
</div>

<div class="flex p-8 justify-start items-center">
    <p class="text-xl">Holidays</p>
    <input type="text" class="ml-4 rounded-lg text-black" @bind="holiday">
    <div class="ml-4 flex justify-center items-center text-white w-20 h-8 bg-[#661D15] border-none shadow-md hover:bg-[#551811] active:scale-95" @onclick='() => AddHoliday(holiday)'>Add</div>
    @if (holidays != null)
    {
        @for (int i = 0; i < holidays.Count; i++)
        {
            <div>
                @if (i == 0)
                {
                    <p class="text-lg">&nbsp;&nbsp;@holidays[i]</p>
                    //&nbsp; - non-breaking space
                }
                else if (i > 0)
                {
                    <p class="text-lg">, @holidays[i]</p>
                }
            </div>
        }
    }
</div>

<div class="flex flex-row">
    <div class="ml-4 mt-4 flex justify-center items-center common-button" @onclick="MakeScheduleGenerator">Show Schedule</div>
</div>

<div class="flex flex-row">
    @if (scheduleIsVisible)
    {
        <div class="m-4">
            <table class="border-collapse border border-black">
                <tr>
                    <th class="text-center border border-black"></th>
                    <th class="text-center border border-black">@month.@year</th>
                    @foreach (var employee in appState.EmployeesRepository.employees)
                    {
                        <th class="text-center border border-black">@employee.name</th>
                    }
                    <th class="text-center border border-black">Missing</th>
                </tr>

                @for (int i = 0; i < NumOfDays; i++)
                {
                    int day = i + 1;
                    string rowStyle = daysToColor.Contains(day) ? "background-color: red;" : "";
                    <tr style="@rowStyle">
                        <th class="text-center border border-black">@day</th>
                        @for (int j = 0; j < appState.EmployeesRepository.employees.Count + 1; j++)
                        {
                            <td class="text-center border border-black">@appState.schedule.schedule[i, j + 1]</td>
                        }
                        <td class="text-center border border-black">@GetListAsString(i + 1, appState.schedule.brokenDaysPositions)</td>
                    </tr>
                }
            </table>
        </div>
    }

    <div class="pl-8">
        @foreach (var employee in appState.EmployeesRepository.employees)
        {
            string stylee = employee.realHoursUsed() < employee.minHours ? "background-color: red;" : "";
            <p>@employee.name</p>
            <div style=@stylee>
                <p>@employee.realHoursUsed() / @employee.minHours</p>
            </div>
        }
    </div>
</div>