@page "/your-schedule"
@inject AppState appState;
@using Blazorise.Extensions;

@if (errorMessage != null)
{
    <div class="error-message">
        <p>@errorMessage</p>
    </div>
}
<div class="particular-information">
    <p class="add-employee-text">Miesiąc</p>
    <select id="type-of-agreement" class="add-employee-textbox" @bind="month">
        @for (int i = 1; i <= 12; i++)
        {
            <option value="@i">@i</option>
        }
    </select>
</div>

<div class="particular-information">
    <p class="add-employee-text">Rok</p>
    <select id="type-of-agreement" class="add-employee-textbox" @bind="year">
        @for (int i = 2020; i <= 2050; i++)
        {
            <option value="@i">@i</option>
        }
    </select>
</div>

<div class="particular-information">
    <p class="add-employee-text">Święta</p>
    <input type="text" class="add-employee-textbox" @bind="holiday">
    <div class="holiday-button" @onclick='() => AddHoliday(holiday)'>Dodaj</div>
    @if (holidays != null)
    {
        @for (int i = 0; i < holidays.Count; i++)
        {
            <div>
                @if (i == 0)
                {
                    <p class="list-days">&nbsp;&nbsp;@holidays[i]</p>
                    //&nbsp; - non-breaking space
                }
                else if (i > 0)
                {
                    <p class="list-days">, @holidays[i]</p>
                }
            </div>

        }
    }
</div>

<div class="scheduleContainer">
    <div class="show-schedule-button" @onclick="MakeScheduleGenerator">Pokaż grafik</div>
    @* <div class="show-schedule-button" @onclick="MakeSchedule">Pokaż grafik</div> *@
</div>

<div class="scheduleContainer">
    @if (scheduleIsVisible)
    {
        <div class="schedule">
            <table>
                <tr>
                    <th class="cell"></th>
                    <th class="cell">@month.@year</th>
                    @foreach (var employee in appState.EmployeesRepository.employees)
                    {
                        <th class="cell">@employee.name</th>
                    }
                    <th class="cell">Brakuje</th>
                </tr>

                @for (int i = 0; i < NumOfDays; i++)
                {
                    int day = i + 1;
                    string rowStyle = daysToColor.Contains(day) ? "background-color: red;" : "";
                    <tr style="@rowStyle">
                        <th class="cell">@day</th>
                        @for (int j = 0; j < appState.EmployeesRepository.employees.Count + 1; j++)
                        {
                            <td class="cell">@appState.schedule.schedule[i, j + 1]</td>
                            //Console.WriteLine(i + "," + numOfEmployee + "="+appState.schedule.schedule[i, numOfEmployee]);
                        }
                        <td class="cell">@GetListAsString(i + 1, appState.schedule.brokenDaysPositions)</td>
                        @* @if (!appState.schedule.brokenDaysPositions[i].IsNullOrEmpty())
                {
                <td class="cell">hey</td>
                }
                else
                {
                <td class="cell">hoo</td>
                } *@
                    </tr>
                }
            </table>
        </div>
    }

    @* zrobic zeby bylo widac kto ma ile godzin *@

    <div class="hoursInfo">
        @foreach (var employee in appState.EmployeesRepository.employees)
        {
            string stylee = employee.realHoursUsed() < employee.minHours ? "background-color: red;" : "";
            <p>@employee.name</p>
            <div style=@stylee>
                <p>@employee.realHoursUsed() / @employee.minHours</p>
            </div>
        }
    </div>
</div>


@code {
    private int holiday;
    private List<int> holidays;
    private string errorMessage;
    private int month;
    private int year;
    private Dictionary<string, int> workingDaysToInt;
    private bool scheduleIsVisible = false;
    private int NumOfDays;
    private List<int> daysToColor;

    protected override void OnInitialized()
    {
        holidays = new List<int>();
    }

    private void AddHoliday(int holiday)
    {
        if (holiday > 0 && holiday < 32)
        {
            holidays.Add(holiday);
            holiday = 0;
        }
    }

    private void MakeScheduleGenerator()
    {
        DateTime date = new DateTime(year, month, 1);
        int NumOfDaysInApril = DateTime.DaysInMonth(date.Year, date.Month);
        List<Employee> employees = appState.EmployeesRepository.employees;

        int tryCount = 0;
        int maxTryCount = 2; //numer of try
        int minBrokenDays = 0;
        string[,] bestSchedule = new string[NumOfDaysInApril, employees.Count + 2];
        while (tryCount < maxTryCount)
        {
            tryCount++;
            MakeSchedule(NumOfDaysInApril, employees);
            if (minBrokenDays < appState.schedule.brokenDays.Count())
            {
                minBrokenDays = appState.schedule.brokenDays.Count();
                bestSchedule = appState.schedule.schedule;
            }
        }
        appState.schedule.schedule = bestSchedule;
    }
    private void MakeSchedule(int NumOfDaysInApril, List<Employee> employees)
    {
        if (month == 0 || year == 0)
        {
            errorMessage = "Podaj miesiąc oraz rok";
            return;
        }
        else
        {
            errorMessage = null;
        }

        //Console.WriteLine("month");
        //Console.WriteLine(month);

        DateTime date = new DateTime(year, month, 1);
        DateTime firstDayOfApril = new DateTime(date.Year, date.Month, 1);
        DayOfWeek startDayOfWeek = firstDayOfApril.DayOfWeek;
        int FirstDayOfMonth = (int)startDayOfWeek;

        List<int> workingDaysInt = MakeNumberOfDaysDictionary();
        Company company = appState.CompanyInstance;

        foreach (var employee in employees)
        {
            foreach (var day in holidays)
            {
                employee.daysOff.Add(day);
            }
        }

        appState.schedule.InitializeSchedule(NumOfDaysInApril, workingDaysInt, FirstDayOfMonth, employees, company);

        appState.schedule.month = month.ToString();
        appState.schedule.year = year.ToString();

        //Console.WriteLine("printing");
        //appState.schedule.PrintAllSchedule();

        scheduleIsVisible = true;
        NumOfDays = NumOfDaysInApril;

        daysToColor = appState.schedule.brokenDays;

        @* Console.WriteLine("broken days");
foreach (var day in daysToColor)
{
Console.WriteLine(day);
}

foreach (var employee in employees)
{
Console.WriteLine(employee.name);
Console.WriteLine(employee.realHoursUsed());
} *@
    }

    private string GetListAsString(int key, Dictionary<int, List<string>> brokenDaysPositions)
    {
        if (brokenDaysPositions.TryGetValue(key, out var list))
        {
            return string.Join(", ", list);
        }
        return string.Empty;
    }

    private List<int> MakeNumberOfDaysDictionary()
    {
        List<int> workingDaysInt = new List<int>();

        workingDaysToInt = new Dictionary<string, int>();
        workingDaysToInt.Add("niedziela", 0);
        workingDaysToInt.Add("poniedziałek", 1);
        workingDaysToInt.Add("wtorek", 2);
        workingDaysToInt.Add("środa", 3);
        workingDaysToInt.Add("czwartek", 4);
        workingDaysToInt.Add("piątek", 5);
        workingDaysToInt.Add("sobota", 6);

        foreach (var day in appState.CompanyInstance.workingDays)
        {
            workingDaysInt.Add(workingDaysToInt[day]);
        }

        return workingDaysInt;
    }
}