@page "/add-employee-menu"
@using BlazorBootstrap
@inject NavigationManager NavigationManager
@inject AppState appState;

<div class="add-employee-menu-container">
    @if (isPersonInfoVisible)
    {
        <div class="person-info-container">
            <p class="person-info-text">Name: @actualEmployee.name</p>
            <p class="person-info-text">Type of Agreement: @actualEmployee.typeOfAgreement</p>
            <p class="person-info-text">Minimum Hours: @actualEmployee.minHours</p>
            <p class="person-info-text">
                Positions: 
                @foreach (var position in actualEmployee.positions)
                {
                    <p>@position</p>
                }
                </p>
            <div class="manage-person-buttons">
                <button class="manage-person-button" @onclick="EditPerson">Edit</button>
                <button class="manage-person-button" @onclick="DeletePerson">Delete</button>
            </div>
        </div>
    }

    <div class="block-field" @attributes="@BlockRight">
        <div class="particular-block" @onclick="ChangeToAddEmployee">
            <div class="add-employee-icon">
                <Icon Name="IconName.PersonPlus" />
            </div>
            <div>
                <h2>Add <br> Employee</h2>
            </div>
        </div>
        @foreach (var employee in employeeList)
        {
            <div class="particular-block" @onclick="() => TogglePersonInfoContainer(employee.name)">
                <p class="employee-name-block">@employee.name</p>
            </div>
        }
    </div>
</div>

@code {
    private List<Employee> employeeList = new List<Employee>();
    private bool isPersonInfoVisible = false;
    private Employee actualEmployee;
    private EmployeesRepository employeesRepository;
    
    [Parameter]
    public string editByName { get; set; }

    private IDictionary<string, object> BlockRight => new Dictionary<string, object>
{
{ "class", isPersonInfoVisible ? "block-field active" : "block-field" }
};

    protected override async Task OnInitializedAsync()
    {
        await base.OnInitializedAsync();
        employeesRepository = appState.EmployeesRepository;
        employeeList = employeesRepository.GetEmployees();
    }

    private void TogglePersonInfoContainer(string name)
    {
        isPersonInfoVisible = !isPersonInfoVisible;
        actualEmployee = employeesRepository.GetEmployeeByName(name);
    }

    private void ChangeToAddEmployee()
    {
        NavigationManager.NavigateTo("/add-component");
    }

    private void EditPerson()
    {
        editByName = actualEmployee.name;
        NavigationManager.NavigateTo($"/add-component/{editByName}");
    }

    private void DeletePerson()
    {
        employeesRepository.DeleteEmployee(actualEmployee.name);
        employeeList = employeesRepository.GetEmployees();
        isPersonInfoVisible = false;
    }
}