@page "/company-information-edit-next/{encodedPositions}/{encodedWorkingDaysList}/{name}";
@inject NavigationManager NavigationManager;
@using BlazorBootstrap
@using System.Text.Json;
@using System.Collections.Generic;

<div>
    <div class="input-field">
        <div class="particular-information">
            <p class="add-employee-text">Godziny pracy</p>
            <input type="time" class="choose-hour" @bind="startHourForAll" />
            <input type="time" class="choose-hour" @bind="endHourForAll" />
            <div class="every-day">
                <p>Dla wszystkich dni</p>
                <div class="checkbox" @onclick="ToggleCheckbox">
                    @if (isCheckboxChecked)
                    {
                        <Icon Name="IconName.Check" />
                    }
                </div>
            </div>
        </div>
        @if (!isCheckboxChecked)
        {
            <div class="adjust-hours-per-day">
                @for (int i = 0; i < workingDaysList.Count; i++)
                {
                    int index = i;
                    <div class="adjust-particular-day-hour">
                        <p class="add-employee-text">@workingDaysList[i]</p>
                        <div style="display: flex;">
                            <input type="time" class="choose-hour" @bind="startHours[index]"
                                @oninput="@(e => UpdateWorkingHours(workingDaysList[index], startHours[index], endHours[index], true))" />
                            <input type="time" class="choose-hour" @bind="endHours[index]"
                                @oninput="@(e => UpdateWorkingHours(workingDaysList[index], startHours[index], endHours[index], false))" />
                        </div>
                    </div>
                }
            </div>
        }
    </div>

    @* <div style="margin-top: 110px;"></div> *@
    <div class="input-field">
        <div class="particular-information">
            <p class="add-employee-text">Dostosuj stanowiska dla każdego dnia</p>
        </div>
        <div class="adjust-hours-per-day">
            @for (int i = 0; i < workingDaysList.Count; i++)
            {
                int iIndex = i; // Assign a default value to jIndex
                <div class="adjust-particular-day-position">
                    <p class="add-employee-text">@workingDaysList[i]</p>
                    <p class="add-position-text">Dodaj stanowisko</p>
                    <div class="align-this">
                        <select class="choose-hour" @bind="position">
                            @for (int j = 0; j < positions.Count; j++)
                            {
                                <option value="@positions[j]">@positions[j]</option>
                            }
                        </select>
                        <div class="add-position-button" @onclick='() => AddPosition(iIndex)'>
                            <Icon Name="IconName.PlusCircle" />
                        </div>
                    </div>
                    <div class="displayPositions">
                        @foreach (var position in positionsPerDay[workingDaysList[i]])
                        {
                            <p>@position</p>
                        }
                    </div>
                </div>
            }
        </div>
    </div>

    <div class="save-company-info-buttons">
        <button class="save-company-info-button" @onclick="SaveData">Zapisz</button>
    </div>
</div>

@code {
    [Parameter]
    public string name { get; set; }
    public List<string> positions { get; set; }
    public List<string> workingDaysList { get; set; }

    [Parameter]
    public string encodedPositions { get; set; }

    [Parameter]
    public string encodedWorkingDaysList { get; set; }

    private bool isCheckboxChecked = true;
    private List<DateTime> startHours { get; set; } = new List<DateTime>();
    private List<DateTime> endHours { get; set; } = new List<DateTime>();
    private Dictionary<DateTime, DateTime> workingHours { get; set; }
    private Dictionary<string, List<string>> positionsPerDay { get; set; }
    private string position { get; set; }
    public DateTime startHourForAll { get; set; }
    public DateTime endHourForAll { get; set; }

    protected override void OnInitialized()
    {
        //Decode the encoded strings
        positions = JsonSerializer.Deserialize<List<string>>(encodedPositions);
        workingDaysList = JsonSerializer.Deserialize<List<string>>(encodedWorkingDaysList);
        position = positions[0];

        // Initialize startHours and endHours lists with default values
        for (int i = 0; i < workingDaysList.Count; i++)
        {
            startHours.Add(DateTime.MinValue);
            endHours.Add(DateTime.MinValue);
        }

        positionsPerDay = new Dictionary<string, List<string>>();

        // Initialize the dictionary with empty lists for each working day
        foreach (var day in workingDaysList)
        {
            positionsPerDay.Add(day, new List<string>());
        }
    }


    private void ToggleCheckbox()
    {
        isCheckboxChecked = !isCheckboxChecked;
    }

    private void UpdateWorkingHours(string day, DateTime startHour, DateTime endHour, bool isStartTime)
    {
        if (isStartTime)
        {
            // Update the startHour list with the selected start time for the specified day
            startHours[workingDaysList.IndexOf(day)] = startHour;
            Console.WriteLine(startHours[workingDaysList.IndexOf(day)].TimeOfDay);
        }
        else
        {
            // Update the endHour list with the selected end time for the specified day
            endHours[workingDaysList.IndexOf(day)] = endHour;
            Console.WriteLine(endHours[workingDaysList.IndexOf(day)].TimeOfDay);
        }
    }

    private void AddPosition(int iIndex)
    {
        Console.WriteLine(iIndex);
        if (position != null)
        {
            positionsPerDay[workingDaysList[iIndex]].Add(position);
            Console.WriteLine("---------------------------------------");
            Console.WriteLine("Positions per day:");
            foreach (var day in positionsPerDay)
            {
                Console.WriteLine($"Day: {day.Key}");
                foreach (var position in day.Value)
                {
                    Console.WriteLine($"Position: {position}");
                }
            }
        }
    }


    private void SaveData()
    {
        //save the working hours per day
        int iteration = 0;
        Dictionary<string, Dictionary<string, string>> myWorkingHoursDay = new Dictionary<string, Dictionary<string, string>>();
        if (isCheckboxChecked)
        {
            foreach (var day in workingDaysList)
            {
                Dictionary<string, string> myWorkingHours = new Dictionary<string, string>();
                string startHour = startHourForAll.TimeOfDay.ToString();
                string endHour = endHourForAll.TimeOfDay.ToString();
                myWorkingHours.Add(startHour, endHour);
                myWorkingHoursDay.Add(day, myWorkingHours);
            }
        }
        else
        {
            foreach (var day in workingDaysList)
            {
                Dictionary<string, string> myWorkingHours = new Dictionary<string, string>();
                string startHour = startHours[iteration].TimeOfDay.ToString();
                string endHour = endHours[iteration].TimeOfDay.ToString();
                myWorkingHours.Add(startHour, endHour);
                myWorkingHoursDay.Add(day, myWorkingHours);
                iteration++;
            }
        }

        Company companyInstance = Company.Instance;
        companyInstance.workingHoursDay = myWorkingHoursDay;

        //save the positions per day
        companyInstance.positionsPerDay = positionsPerDay;

        //save the name of the company
        companyInstance.name = name;

        //check if the data is saved correctly
        Console.WriteLine("---------------------------------------");
        Console.WriteLine("Positions per day:");
        foreach (var day in companyInstance.positionsPerDay)
        {
            Console.WriteLine($"Day: {day.Key}");
            foreach (var position in day.Value)
            {
                Console.WriteLine($"Position: {position}");
            }
        }

        //check if the data is saved correctly
        foreach (var day in myWorkingHoursDay)
        {
            Console.WriteLine($"Day: {day.Key}");
            foreach (var workingHours in day.Value)
            {
                Console.WriteLine($"Start Hour: {workingHours.Key}");
                Console.WriteLine($"End Hour: {workingHours.Value}");
            }
        }

        NavigationManager.NavigateTo($"/company-information");
    }
}
